USE [master]
GO
/****** Object:  Database [RappBrasil]    Script Date: 11/18/2016 1:28:53 AM ******/
CREATE DATABASE [RappBrasil]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RappBrasil', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\RappBrasil.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RappBrasil_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\RappBrasil_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RappBrasil].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RappBrasil]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 11/18/2016 1:28:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Cod_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](150) NULL,
	[Telefone] [nvarchar](20) NULL,
	[Email] [nvarchar](150) NULL,
	[Empresa] [nvarchar](50) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Cod_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Cod_Usuario], [Nome], [Telefone], [Email], [Empresa]) VALUES (1, N'Rafael Silva Carrasqueira', N'(11)95495-8289', N'rafaelcarraska@hotmail.com', N'Rapp Brasil')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
USE [master]
GO
